---
layout: home
---
<div class="user-details">
<h2> About Me </h2>
<p style="text-align: justify;"> &nbsp;&nbsp;&nbsp;&nbsp;
I'm Xi Li, a PhD candidate in Computer Science and Engineering Department at Pennsylvania State University. My research interest includes Computer Vision, Machine Learning, Data Mining. CV<a href="https://github.com/lixi1994/lixi1994.github.io/about/Xi_CV.pdf">here</a> GitHub<a href="https://github.com/lixi1994/lixi1994.github.io">here</a> </a>. </p>
<!-- <div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	{% include clastrmap.html %}
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div> -->
</div>
<!-- <div class="permlinks">
<h2>Recent Posts</h2>
<dl>
	{% for post in site.posts limit:4 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>Upcoming Posts</h2>
<ul>
	<li>Majorana Braiding</li>
	<li>Berry phase case study</li>
	<li>K-theory Study Notes</li>
</ul>

</div > -->
