---
layout: home
---
<!-- <div class="user-details"> -->
<div class="block" style="height: 300px;">
<h2> About Me </h2>
<p id="about" style="text-align: justify;"> &nbsp;&nbsp;&nbsp;&nbsp;
	<font size=3>
I'm Xi Li, a PhD candidate in Computer Science and Engineering Department at Pennsylvania State University. My research interest includes Computer Vision, Machine Learning, Data Mining. <a href="https://github.com/lixi1994/lixi1994.github.io/blob/master/about/Xi_CV.pdf">[CV]</a> <a href="https://github.com/lixi1994">[GitHub]</a>. </font></p>
<!-- <div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	{% include clastrmap.html %}
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div> -->
</div>
<!-- <div class="permlinks">
<h2>Recent Posts</h2>
<dl>
	{% for post in site.posts limit:4 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>Upcoming Posts</h2>
<ul>
	<li>Majorana Braiding</li>
	<li>Berry phase case study</li>
	<li>K-theory Study Notes</li>
</ul>

</div > -->

<!-- <div class="user-details"> -->
<div class="block" style="height: 300px;">
<h2> Education </h2>
<p id="education" style="text-align: left;"> &nbsp;&nbsp;&nbsp;&nbsp;
	<p><font size=3 color="#000000">August.2012 - June.2016</font>
		<font color="#000000">Bachelor of Electric Engineering</font>
		<font color="#000000">The Southeast University, China</font>
	</p>
</p>
<!-- <div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	{% include clastrmap.html %}
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div> -->
</div>

<!-- <div class="block" style="height: 300px;">

    <div class="centered">
        <h1>haorooms案例题目</h1>
        <p>haorooms案例内容，haorooms案例内容haorooms案例内容haorooms案例内容haorooms案例内容haorooms案例内容haorooms案例内容haorooms案例内容haorooms案例内容</p>
    </div>

</div> -->