<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="UTF-8">
  <title>{{ site.data.main_info.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ site.data.main_info.name }}'s personal website">
  <meta name="author" content="{{ site.data.main_info.name }}">
  <meta property="og:title" content="{{ site.data.main_info.name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url | prepend: site.baseurl }}" />
  <meta property="og:site_name" content="{{ site.data.main_info.name }}" />
  <link rel="canonical" href="{{ site.url | prepend: site.baseurl }}" />

  <!-- <meta charset="utf-8">
  <title>{{ site.data.main_info.name }} | {{ page.title }}</title>
  <meta name="description" content="Martin Saveski">
  <meta name="author" content="Martin Saveski">
  <meta property="og:title" content="Martin Saveski" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.martinsaveski.com" />
  <meta property="og:site_name" content="Martin Saveski" />
  <link rel="canonical" href="http://www.martinsaveski.com" /> -->

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/skeleton/normalize.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/external/skeleton/skeleton.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/my_css.css" | prepend: site.baseurl }}>

  <style>

    /* Custom styles for the navbar */
    .navbar-link {
      font-size: 14px; 
      font-family: "Times New Roman", Times, serif;
      /* font-weight: 500;  */
    }

    /* Custom styles for the header */
    h1, h2, h3, h4 {
      font-family: "Times New Roman", Times, serif;
    }

    /* Custom styles for the body */
    body, p, li, a, span, div {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
  }
  </style>

  <!-- JQuery
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src={{ "/libs/external/jquery-3.1.1.min.js" | prepend: site.baseurl }}></script>

  <!-- Font-Awesome
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/font-awesome-4.7.0/css/font-awesome.min.css" | prepend: site.baseurl }}>

  <!-- Academicons
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/academicons-1.8.6/css/academicons.min.css" | prepend: site.baseurl }}>

  <!-- Skeleton tabs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/skeleton_tabs/skeleton-tabs.css" | prepend: site.baseurl }}>
  <script src={{ "/libs/external/skeleton_tabs/skeleton-tabs.js" | prepend: site.baseurl }}></script>

  <!-- Timeline
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/timeline.css" | prepend: site.baseurl }}>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<link rel="stylesheet" href={{ "/libs/external/github-prettify-theme.css" | prepend: site.baseurl }}>-->
  <script src={{ "/libs/custom/my_js.js" | prepend: site.baseurl }}></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href={{ "/libs/icon.png" | prepend: site.baseurl }}>
  <link rel="shortcut icon" type="image/png" href={{ "/libs/icon.png" | prepend: site.baseurl }}>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <!-- <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#about" | prepend: site.baseurl }}>About</a></li> -->
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html" | prepend: site.baseurl }}>Home</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{{ '/assets/lab/lab.html' | prepend: site.baseurl }}">TrustBrew Lab</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/assets/lab/lab.html#people" | prepend: site.baseurl }}>People</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/assets/lab/lab.html#research" | prepend: site.baseurl }}>Research</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/assets/lab/lab.html#advice" | prepend: site.baseurl }}>A PhD Is a Marathon</a></li>
        </ul>
      </div>
    </nav>

    {{ content}}

    <div class="footer">
      <div class="row">
        <div class="four columns">
          {{ site.data.main_info.name }}
        </div>
        <div class="four columns">
          {{ site.data.main_info.title_and_affiliation }}
        </div>
        <div class="four columns">
          <!-- Email Icon -->
          <span onclick="window.location.href='mailto:{{ site.data.main_info.email }}'" style="cursor: pointer;">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>

          <!-- Google Scholar Icon -->
          <span onclick="window.open('{{ site.data.main_info.google_scholar }}')" style="cursor: pointer;">
            <i class="ai ai-google-scholar ai-lg" aria-hidden="true"></i>
          </span>
  
          <!-- LinkedIn Icon -->
          <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor: pointer;">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </span>
  
          <!-- GitHub Icon -->
          <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor: pointer;">
            <i class="fa fa-github" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>

  </div>

  <!-- Google Analytics -->
  {% include google_analytics.html %}

  <!-- do not remove -->
  <span id="62cd7b7da1aff3196fdc26b60e396df9"></span>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
